header{
	   height:50px;
	   background-color:#fdd;
}
#wrapper{
	height:100px;
	display:flex;
	justify-content: space-between;
}
#main{
	width:60%;
	background-color:#dfd;
}
aside{
	width:30%;
	background-color:#fdf;
}
footer{
	height:50px;
	background-color:#ddf
}
